{%- assign config = section.settings -%}
{%- assign blog = section.settings.blog -%}

{% liquid

   assign config = section.settings

   assign bg_color = " bg:" | append: config.bg_color

   capture text_props
     render 'general_settings_text_props', config: section.settings
   endcapture

   capture pc_width
      render 'general_settings_pc_width', config: section.settings  
   endcapture

   capture outer
      render 'general_settings_outer', config: section.settings 
   endcapture

   capture inner
      render 'general_settings_inner', config: section.settings 
   endcapture

%}
 
{% liquid 
   
   capture text_size 
   
      echo " fx dir:col"
      echo " ai:" | append: config.text_alignment
      echo " md-up:ai:" | append: config.text_alignment_pc

      echo " tx:" | append: config.text_pos
      echo " md-up:tx:" | append: config.text_pos_pc 

   endcapture
   
%}

{%- assign heading_tag = 'h2' -%}
{%- assign subheading_tag = 'h3' -%}

{%- if config.use_h1 -%}
  {%- assign heading_tag = 'h1' -%}
  {%- assign subheading_tag = 'h2' -%}
{%- endif -%}

<div class="{{ outer }}" data-name="single-header">

  <div class="section-bg {% unless section.settings.bg_inner %} {{ bg_color }} {% endunless %} ">

    <div class="container {{ pc_width }}">

      <div class="section-inner {{ inner }} {{ text_props }} {% if section.settings.bg_inner %} {{ bg_color }} {% endif %} ">

        <div class="section-header">
           
          {% if config.heading.size > 0  %}

          <div class="{{ text_size }}">

            <{{ heading_tag }} class="hd hd:xl">
              {{ config.heading }}
              </{{ heading_tag }}>

              {% if config.sub_heading %}

              <{{ subheading_tag }} class="base:lg">
            {{ config.sub_heading }}
            </{{ subheading_tag }}>

            {% endif %}

          </div>

          {% endif %}
        </div>

        <div class="section-content lh:md rte pt:tn">
          {% if config.richtext.size > 0 %}
          <div class="{{ text_size }}">
            <div class="rte">
              {{ config.richtext }}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}

{
   "name": "Heading Richtext",
   "settings": [
      {
         "type": "text",
         "id": "heading",
         "label": "Heading"
      }, {
         "type": "text",
         "id": "sub_heading",
         "label": "Sub heading"
      }, {
         "type": "richtext",
         "id": "richtext",
         "label": "Richtext"
      }, {
		"type": "checkbox",
		"id": "use_h1",
		"label": "Use H1 and H2?",
		"info": "Default is H2 and H3"
	  }, {
         "type": "select",
         "id": "text_alignment_pc",
         "label": "Text alignment Pc",
         "options": [
            {
               "value": "center",
               "label": "Center"
            }, {
               "value": "start",
               "label": "Left"
            }, {
               "value": "end",
               "label": "Right"
            }
         ]
      }, {
         "type": "select",
         "id": "text_alignment",
         "label": "Text alignment Mobile",
         "options": [
            {
               "value": "center",
               "label": "Center"
            }, {
               "value": "start",
               "label": "Left"
            }, {
               "value": "end",
               "label": "Right"
            }
         ]
      }, {
         "type": "header",
         "content": "text placement"
      }, {
         "type": "select",
         "id": "text_pos_pc",
         "label": "Text position Pc",
         "options": [
            {
               "value": "center",
               "label": "Center"
            }, {
               "value": "left",
               "label": "Left"
            }, {
               "value": "right",
               "label": "Right"
            }
         ]
      }, {
         "type": "select",
         "id": "text_pos",
         "label": "Text position Mobile",
         "options": [
            {
               "value": "center",
               "label": "Center"
            }, {
               "value": "left",
               "label": "Left"
            }, {
               "value": "right",
               "label": "Right"
            }
         ]
      }, {
         "type": "header",
         "content": "------- General settings -------"
      }, {
         "type": "header",
         "content": "🔴🟠🔵 Colors"
      }, {
         "type": "checkbox",
         "id": "bg_inner",
         "label": "Apply background to inner"
      }, {
         "type": "select",
         "id": "bg_color",
         "label": "Background color",
         "default": "bg-none",
         "options": [
            {
               "value": "bg-none",
               "label": "None"
            }, {
               "value": "blue",
               "label": "Blue"
            }, {
               "value": "lightblue",
               "label": "Light blue"
            }, {
               "value": "softblue",
               "label": "Soft blue"
            },{
               "value": "lightgrey",
               "label": "Light grey"
            },{
               "value": "softgreen",
               "label": "Soft green"
            },{
               "value": "lightgreen",
               "label": "Light green"
            },{
               "value": "flashy",
               "label": "Flashy"
            }
         ]
      }, {
         "type": "select",
         "id": "text_color",
         "label": "Text color",
         "options": [
            {
               "value": "text-dark",
               "label": "Dark"
            }, {
               "value": "text-dark--lighter",
               "label": "Dark light"
            }, {
               "value": "text-light",
               "label": "Light"
            }, {
               "value": "text--very-light",
               "label": "Very light"
            }
         ]
      }, {
         "type": "header",
         "content": "🔤 🔠 Base size",
         "info": "Text size for pc & mobile"
      }, {
         "type": "select",
         "id": "base_pc",
         "label": "Pc",
         "default": "DEFAULT",
         "options": [
            {
               "value": "tn",
               "label": "Tiny"
            }, {
               "value": "xs",
               "label": "Extra small"
            }, {
               "value": "sm",
               "label": "Small"
            }, {
               "value": "DEFAULT",
               "label": "Normal"
            }, {
               "value": "lg",
               "label": "Large"
            }, {
               "value": "xl",
               "label": "Extra large"
            }, {
               "value": "hg",
               "label": "Huge"
            }, {
               "value": "mg",
               "label": "Mega"
            }
         ]
      }, {
         "type": "select",
         "id": "base_mobile",
         "label": "Mobile",
         "default": "DEFAULT",
         "options": [
            {
               "value": "tn",
               "label": "Tiny"
            }, {
               "value": "xs",
               "label": "Extra small"
            }, {
               "value": "sm",
               "label": "Small"
            }, {
               "value": "DEFAULT",
               "label": "Normal"
            }, {
               "value": "lg",
               "label": "Large"
            }, {
               "value": "xl",
               "label": "Extra large"
            }, {
               "value": "hg",
               "label": "Huge"
            }, {
               "value": "mg",
               "label": "Mega"
            }
         ]
      }, {
         "type": "header",
         "content": "📱💻 Content width",
         "info": "Content width for pc & mobile"
      }, {
         "type": "checkbox",
         "id": "full_w_mobile",
         "label": "Full width Mobile"
      }, {
         "type": "select",
         "id": "width_pc",
         "label": "Pc",
         "default": "DEFAULT",
         "options": [
            {
               "value": "tn",
               "label": "Tiny"
            }, {
               "value": "xs",
               "label": "Extra small"
            }, {
               "value": "sm",
               "label": "Small"
            }, {
               "value": "DEFAULT",
               "label": "Normal"
            }, {
               "value": "lg",
               "label": "Large"
            }, {
               "value": "xl",
               "label": "Extra large"
            }, {
               "value": "hg",
               "label": "Huge"
            }, {
               "value": "mg",
               "label": "Mega"
            }, {
               "value": "fl",
               "label": "Full"
            }
         ]
      }, {
         "type": "header",
         "content": "⬆️ ⬇️ Content padding",
         "info": "Content padding for pc & mobile"
      }, {
         "type": "select",
         "id": "c_pad_pc",
         "label": "Pc",
         "default": "DEFAULT",
         "options": [
            {
               "value": "cl",
               "label": "None"
            }, {
               "value": "tn",
               "label": "Tiny"
            }, {
               "value": "xs",
               "label": "Extra small"
            }, {
               "value": "sm",
               "label": "Small"
            }, {
               "value": "DEFAULT",
               "label": "Normal"
            }, {
               "value": "lg",
               "label": "Large"
            }, {
               "value": "xl",
               "label": "Extra large"
            }, {
               "value": "hg",
               "label": "Huge"
            }, {
               "value": "mg",
               "label": "Mega"
            }
         ]
      }, {
         "type": "select",
         "id": "c_pad_mobile",
         "label": "Mobile",
         "default": "DEFAULT",
         "options": [
            {
               "value": "cl",
               "label": "None"
            }, {
               "value": "tn",
               "label": "Tiny"
            }, {
               "value": "xs",
               "label": "Extra small"
            }, {
               "value": "sm",
               "label": "Small"
            }, {
               "value": "DEFAULT",
               "label": "Normal"
            }, {
               "value": "lg",
               "label": "Large"
            }, {
               "value": "xl",
               "label": "Extra large"
            }, {
               "value": "hg",
               "label": "Huge"
            }, {
               "value": "mg",
               "label": "Mega"
            }
         ]
      }, {
         "type": "header",
         "content": "⏫ Section padding",
         "info": "Content padding for pc & mobile"
      }, {
         "type": "select",
         "id": "sec_pad_pc",
         "label": "Pc",
         "default": "DEFAULT",
         "options": [
            {
               "value": "cl",
               "label": "None"
            }, {
               "value": "tn",
               "label": "Tiny"
            }, {
               "value": "xs",
               "label": "Extra small"
            }, {
               "value": "sm",
               "label": "Small"
            }, {
               "value": "DEFAULT",
               "label": "Normal"
            }, {
               "value": "lg",
               "label": "Large"
            }, {
               "value": "xl",
               "label": "Extra large"
            }, {
               "value": "hg",
               "label": "Huge"
            }, {
               "value": "mg",
               "label": "Mega"
            }
         ]
      }, {
         "type": "select",
         "id": "sec_pad_mobile",
         "label": "Mobile",
         "default": "DEFAULT",
         "options": [
            {
               "value": "cl",
               "label": "None"
            }, {
               "value": "tn",
               "label": "Tiny"
            }, {
               "value": "xs",
               "label": "Extra small"
            }, {
               "value": "sm",
               "label": "Small"
            }, {
               "value": "DEFAULT",
               "label": "Normal"
            }, {
               "value": "lg",
               "label": "Large"
            }, {
               "value": "xl",
               "label": "Extra large"
            }, {
               "value": "hg",
               "label": "Huge"
            }, {
               "value": "mg",
               "label": "Mega"
            }
         ]
      }
   ],
   "presets": [
      {
         "name": "Heading / Richtext",
         "settings": {}
      }
   ]
}

{% endschema %}

<style></style>